# Overdose Simple Ramdisk's Configuration
on property:sys.boot_completed=1
	write /sys/kernel/touchpanel/dclicknode 1
	setprop pm.sleep_mode 1
	chmod -R 0644 /sys/block/mmcblk0/queue/scheduler
    write /sys/block/mmcblk0/queue/scheduler cfq
	chmod -R 444 /sys/block/mmcblk0/queue/scheduler
	chmod -R 0644 /sys/block/mmcblk1/queue/scheduler
    write /sys/block/mmcblk1/queue/scheduler cfq
	chmod -R 444 /sys/block/mmcblk1/queue/scheduler
    setprop dalvik.vm.heapminfree 2m
	setprop ro.config.hw_power_saving true
	setprop ro.config.hw_fast_dormancy 1
	setprop ro.ril.disable.power.collapse 0
	setprop ro.ril.sensor.sleep.control 1
